<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CockroachDB Serverless</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">DB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">JSON</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">CockroachDB Serverless + Flask + Vercel</h1>
                <p class="lead text-muted">Deploying a Sample Flask app in Vercel connected to Cockroach Cloud
                    Serverless</p>
                <p> Getting the <code>defaultdb.plublic.users</code> table from CockorachDB Serverless: </br> </br>
                    BASH: <code>  export DATABASE_URL="cockroachdb://[user]:[password]@[serverless-cluster-id].cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full&&sslrootcert=cert%2Froot.crt"</code> </br> </br>
                    PYTHON: <code>  engine = create_engine(os.environ["DATABASE_URL"]) </code>
                </p>
            </div>
        </div>
    </section>


    <div class="container">
        <!-- Content here -->

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">IP</th>

            </tr>
            </thead>
            <tbody>
            {% for item in data %}

            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>


</body>